name: Publish to npm

on:
  push:
    branches:
      - master

permissions:
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests
  id-token: write # to enable use of OIDC for trusted publishing and npm provenance

jobs:
  publish:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install
        run: yarn
      - name: Build
        run: yarn build
      - name: Release
        run: npx semantic-release --plugin "@semantic-release/npm" --npmPublish false
      - name: Configure npm for OIDC
        run: npm install -g npm@11.6.1
      - name: Publish to npm with OIDC
        run: npm publish
